.navbar .nav-item a {
  margin-left: 0.5rem;

  &:after {
    content: '';
    background: $primary;
    display: block;
    width: 0;
    height: 2px;
    margin-top: 0.5rem;
    transition: width 0.2s;
  }

  &.active::after {
    width: 100%;
    opacity: 0.5;
  }

  &:hover::after {
    width: 100%;
  }
}
